
// Small devices (landscape phones, 576px and up)
@media (min-width: 300px) {
    main{
        background-image: url('../images/mobile-bg.png');
        height: 650px;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-color: black;
    }
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    main{
        background-image: url('../images/Desktop-bg2.png');
        height: 300px;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-color: black;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    main{
    height: 650px;
    background-image: url('../images/Desktop-bg2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}

.card{
    
    
    border-radius: 10px;
    padding: 10px;
    text-align: start !important;
    
} 

.testimonials{
    background-color: blue($color: #0400ff);
    border:1px solid red;
    max-width: 900px;
    max-height: 2000px;
}
.bg-gradient-1{
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(46,41,14,1) 34%, rgba(0,0,0,1) 100%);
}